

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100%;
}

h1.main-header {
    width: 100%;
    height: 10vh;
    background: transparent;
    text-align: center;
    font-size: 60px;
    font-family: "Star Jedi", monospace;
    color: orange;
    margin: 1%;
    padding: 1%;
}

#wrapper-block {
    position: center;
    height: 60vh;
    width: 85%;
    margin: auto;
}

.field-wrapper {
    margin: 1.5% 1.5% 1.5% 1.5%;
    display: inline-block;
    border: 1px solid white;
}

.field {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    width: calc(70vmin - 10px);
    height: calc(70vmin - 10px);
}

.field#playerField {
    float: left;
}

.field#enemyField {
    float: right;
}

.square{
    margin: 0;
    padding: 0;
    width: calc(7vmin - 1px);
    height: calc(7vmin - 1px);
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s linear;
}

.square.ship {
    background-color: slategray;
}

.square.empty {
    background-color: transparent;
}

.square.incognito {
    background-color: white;
}

.square.hit {
    background-color: red;
    opacity: 0.6;
}

.square:hover {
    box-shadow: 200px 0 0 0 rgba(0,0,0,.3) inset;
}


#log {
    overflow: scroll;
    background-color: lightsteelblue;
    width: 100%;
    height: 10vh;
    border-color: black;
    border: 1px solid;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
}
